* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #root, .App {
    height: 100%;
    width: 100%;
    margin: 0;
    background: #474747;
}

html::-webkit-scrollbar {
    display: none;
}

/* background image rows */
.image-container {
    display: table;
}

.image-container > .homeDiv {
    position: absolute;

    color: white !important;

    width: 100%;
    height: 100%;
    transition: 2s ease-in;
}

.image-container:hover > .homeDiv {
    position: absolute;

    background: rgba(0, 0.5, 0.02, 0.5);
    color: white !important;

    width: 100%;
    height: calc();

    transition: 2s ease-in;
}

.image-column {
    float: left;
    width: 33.33%;
    filter: sepia(0.5);
}


.tablet-column {
    float: left;
    width: 50%;
    filter: sepia(0.5);
}


.mobile-column {
    float: left;
    width: 100%;
    filter: sepia(0.5);
}

.components {
    height: 200%;
    width: 100%;
}

/* homediv */
.homeDiv-content {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: 20px;

    width: 35%;
    height: 35%;

    margin: 20% auto;

}


.btn-transparent {
    padding: 20px;
    width: 100px;
    background: black;
    color: white;
    border: 1px solid white;
}

.btn-transparent:hover {
    background: white;
    color: black;
}

/* google maps */
.map-component {
    display: flex;
    height: 500px;
}

.map {
    width: 80%;
    height: 100%;
    margin: 50px auto;
}

.map-content {
    height: 100%;
    width: 100%;
}

embed {
    border-radius: 20px;
}

@media screen and (max-width: 750px) {
    .map-component {
        height: 300px;
    }
}

/* image media queries */
@media screen and (max-width: 1680px) {
    .image-column {
        margin-top: 100px;
    }
}

@media screen and (max-width: 1500px) {
    .image-column {
        width: 50%;
    }
}

@media screen and (max-width: 1100px) {
    .tablet-column {
        margin-top: 150px;
    }
}

@media screen and (max-width: 400px) {
    .mobile-column {
        padding-top: 50px;
    }
}

@media screen and (max-width: 850px) {
    .mobile-column {
        margin-top: -100px;
    }
}

@media screen and (max-width: 650px) {
    .mobile-column {
        margin-top: 0px;
    }
}