* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #root, .App {
    height: 100%;
    width: 100%;
    margin: 0;
}

html::-webkit-scrollbar {
    display: none;
}

.flex-images {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
}

.flex-image {
    flex: 1;
    filter: grayscale(70%)
}

.components {
    height: 500px;
}

@media screen and (max-width: 900px) {
    .flex-image {
        filter: grayscale(0%);
    }
}

@media screen and (max-width: 650px) {
    .flex-images {
        resize: auto;
        flex-direction: column;
    }
}