/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
    background: #D6F4FF;
    color: black;
    position: fixed;
}

html::-webkit-scrollbar {
    display: none;
}


.icon {
    @apply text-black h-6;
}

/* create a spinning icon */
.icon-spin {
    animation: spin 2s linear infinite;
}

/* common css */
.center {
    text-align: center;
}

.flex-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.flex-child {
    flex: 1;
}

.header-text {
    transition: 1s ease;
    padding: 10px;
    text-align: center;
    font-size: clamp(2rem, -0.875rem + 8.333333vw, 3.5rem);
}

.merriweather {
    @apply font-merriweather;
}

.satisfy {
    @apply font-satisfy;
}

.text-md {
    font-size: clamp(.8rem, -0.875rem + 7.333333vw, 1.5rem);
}

.text-sm {
    font-size: clamp(.5rem, -0.875rem + 8.333333vw, 1rem);
}

.date-info {
    padding: 20px;
}


/* gallery styles */
.gallery {
    transition: 1s ease;
    height: 100%;
    width: 500px;
    background: rgba(0, 0, 0, 0.2);
}

.gallery-image {
    transition: 0.1s ease;
    width: 500px;
    height: auto;
    top: 20%;
    position: absolute;
}

.next, .prev {
    top: calc(50% - 20px);
    position: absolute;
    background: white;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    z-index: 2;
}

.next {
    transition: 1s ease;
    left: 460px;
}

.prev {
    left: 10px;
    transform: scale(-1);
}

/* containers */
.main-container {
    width: 80%;
    background: #F5FCFF;
    margin: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
}

/* nav top */
.header {
    display: flex;
    background: white;
    padding: 10px;
    box-shadow: 3px 1px 10px black;
}

.navbar-brand {
    flex-grow: 1;
    margin: auto 10px;
    font-size: 25px;
    font-family: 'Satisfy';
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    color: black;
}

.navbar-top {
    display: flex;
    width: 50%;
}

.navbar {
    display: flex;
    cursor: pointer;
}

.nav-item {
    list-style-type: none;
    margin: auto;
}

.nav-item > .nav-link {
    color: black !important;
    text-decoration: none;
    font-size: 20px;
}

.nav-item > .nav-link::after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    top: 5px;
    background: transparent;
    transition: all 0.5s;
}

.nav-item > .nav-link:hover::after, .nav-item > .nav-link.active-nav::after {
    width: 100%;
    background: black;
}


/* bottom nav */
.backdrop-slate {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.9);
}

.link-container {
    margin: 25% auto;
}

.menu-link {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.75rem;
    font-weight: 600;
    display: block;
    margin: 30px;
}


@media screen and (max-width: 1000px) {
    .header-text {
        transition: 1s ease-in;
        resize: both;
    }

    .next, .prev {
        top: calc(20% - 20px)
    }

    .next {
        transition: 1s ease;
        left: unset;
        right: 20px;
    }

    .flex-container {
        flex-direction: column;
    }

    .gallery {
        transition: 1s ease;
        height: 50%;
        width: 100%;
    }

    .gallery-image {
        border-radius: 20px;
        display: block;
        height: inherit;
        width: auto;
        top: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

@media screen and (max-width: 540px) {
    .gallery {
        height: 50%;
        width: inherit
    }

    .gallery-image {
        top: 0;
        left: unset;
        border-radius: 0%;
        height: inherit;
        width: inherit;
    }
}

@keyframes linkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}